.about {
    height: 100vh;
    background: #b8f2e6;
    z-index: 2;
    position: relative;
    padding: 5%;
    
    svg {
        width: 40%;
    }

    .text-container {
        width: 50%;
    }

}
