.animate-left {
  animation: 800ms ease-out 0s 1 slideFromLeft;
}

.animate-bottom {
  animation: 800ms ease-out 0s 1 slideFromBottom;
}

.animate-right {
  animation: 800ms ease-out 0s 1 slideFromRight;
}

.animate-top {
  animation: 800ms ease-out 0s 1 slideFromTop;
}

@keyframes slideFromLeft {
    0% {
      transform: translateX(-50%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes slideFromBottom {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }   
}

@keyframes slideFromRight {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }   
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }  
}