.contact {
    h2 {
        margin-left: 5%;

        @include ipadMQ {
            margin-left: 0;
            text-align: center;
        }

        @include small-phoneMQ {
            font-size: 6vw;
        }
    }
}

.flex-container {
    display: flex;
    justify-content: space-evenly;

    @include ipadMQ {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-end;
    }
}

.contact-container {
    width: 50%;
    display: flex;
    padding-top: 20px;
    justify-content: space-around;

    @include ipadMQ {
        width: 80%
    }

    @include small-phoneMQ {
        display: none;
    }

    .img-container {
        width: 40%;

        img {
            @include box-shadow;
        }
    }

    .text-container {
        width: 50%;

        h3 {
            font-weight: 700;
        }

        i, p {
            display: inline-block;
        }

        p {
            margin: 0;
            margin-bottom: 5px;
        }
    }
}

form {
    width: 40%;
    display: flex;
    flex-direction: column;

    @include ipadMQ {
        width: 80%;
        margin: 5%;
    }

    @include small-phoneMQ {
        width: 100%;
    }

    input[type=text], textarea {
        border: 0;
        background-color: $blue;
        padding: 15px;
        width: 100%;
        margin-bottom: 20px;
    }
    
    input[type=text] {
        border-bottom: 3px solid $yellow;
    }
    
    textarea {
        border: 3px solid $yellow;
    }

}