.header {
    // background: linear-gradient(120deg,#e1a9e0, #c3c9ed, #b3eefe);
    width: 100vw;
    background-image: linear-gradient(
        120deg,
        #f9c6c9,
        #e1a9e0,
        #c3c9ed,
        #b3eefe,
        #64dfdf
    );
    background-size: 200%;
    position: relative;
    

    .text-container {
        padding: 5%;
        width: 45%;
    }

    .img-container {
        width: 45%;
        display: fex;
        align-self: end;
    }
    
}
