header {
    display: flex;
    padding: 20px 0 20px 20px;
    justify-content: space-between;
    height: 20vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    @include ipadMQ {
        height: auto;
    }
}

.logo {
    width: 100px;
    height: 100px;
}

nav, .social-links, .logo, .menu {
    padding: 20px;
}

nav {
    width: 50%;
    
    ul {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        padding: 20px;
    }
    
    li {
        list-style: none;
    }
    
    li a {
        letter-spacing: 0.2rem;
    }

    @include ipadMQ {
        width: 60%;
    }

    @include large-phoneMQ {
        display: none;
    }
}

.menu {
    display: none;

    i {
        font-size: 3rem;
    }
    
    @include large-phoneMQ {
        display: block;
    }
    
    .open-button {
        background-color: transparent;
        border: none;
    }
}

.social-links {
    width: 15%;
    display: flex;
    justify-content: space-evenly;

    @include ipadMQ {
        width: 20%;
    }

    @include large-phoneMQ {
        width: 30%;
    }

    @include small-phoneMQ {
        display: none;
    }
}