header {
    height: 100vh;
    // background: linear-gradient(130deg, #b8f2e6, #80dbd5, #4ecdc4);
    background: linear-gradient(130deg, #b8f2e6, #4ecdc4);
    // background: linear-gradient(130deg, #f27158, #c05395, #ba4f9c);

    padding: 5%;
    position: relative;
    z-index: 0;
}

.text-container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.oval {
    z-index: 1;
    position: absolute;
    top: -20vh;
    right: -35vw;
    width: 80vw;
    height: 250vh;
    background: linear-gradient(50deg, $yellow, #b8f2e6, #80dbd5);
    // background: linear-gradient(60deg, #f27158, #aa49cf);
    border-radius: 50%;
    // animation: floatOne 5s infinite;
}

.portrait-img {
    position: absolute;
    bottom: 0;
    right: 0px;
    z-index: 2;
    width: 45%;
}