.home {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    // align-items: center;

    .text-container {
        width: 40%;
    }

    h1 {
        margin: 0;
    }
    
    h2 {
        font-size: 5.7vw;
        font-weight: 200;
        margin-bottom: 0;
    }

    h3 {
        text-align: right;
    }

    
    .img-container { 
        width: 28%;

        img {
            border: 8px solid $yellow;
            padding: 10px;
        }
    }
}


