.skills {
    h2 {
        margin-bottom: 20px;
    }
}

.skills-container {
    margin: 0 auto;
    width: 100%;
}

.skill-container {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    
    img {
        width: 12%;
        height: 12%;
        padding: 15px;
        transition: transform .2s;
    }

    img:hover {
        transform: scale(1.25);
    }
}

.education-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    .education {
        margin-bottom: 5%;
        
        .underline {
            border-bottom: 4px solid $yellow;
        }
    }

    h3, p {
        margin: 0;
        text-align: center;
    }
}