.skills {

    h2 {
        margin-bottom: 40px;
        font-size: 2.6vw;

        @include small-phoneMQ {
            font-size: 6vw;
        }
    }
}

.skills-container {
    width: 80%;
}

.skill-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @include laptopMQ {
        width: 50%;
    }

    @include ipadMQ {
        width: 85%;
    }

    @include small-phoneMQ {
        width: 80%;
    }

    img {
        width: 8%;
        height: 8%;
        transition: transform .2s;
        margin: 5px 15px;
        
        @include ipadMQ {
            width: 12%;
            height: 12%;
        }

        @include small-phoneMQ {
            margin: 5px;
            width: 15%;
            height: 15%;
        }
    }

    img:hover {
        transform: scale(1.25);
    }
}

// .education-container {
//     display: flex;
//     justify-content: space-between;

//     @include ipadMQ {
//         flex-direction: column;
//         justify-content: around;
//     }

//     .education {
//         margin-bottom: 5%;
//         width: 40%;
        
//         .underline {
//             border-bottom: 4px solid $yellow;
//         }

//         @include ipadMQ {
//             width: 100%;
//         }
//     }

//     h3, p {
//         margin: 0;
//         text-align: center;
//     }

//     h3 {
//         font-size: 2vw;
//         @include ipadMQ {
//             font-size: 3vw;
//         }

//         @include small-phoneMQ {
//             font-size: 5vw;
//         }

//         @include xs-phoneMQ {
//             font-size: 4.5vw;
//         }
//     }

//     p {
//         @include ipadMQ {
//             font-size: 2vw;
//         }

//         @include small-phoneMQ {
//             font-size: 4.5vw;
//         }

//         @include xs-phoneMQ {
//             font-size: 3.5vw;
//         }
//     }
// }