// $heading: 'Montserrat', sans-serif;
$font: 'Poppins', sans-serif;

$blue: #aed9e0;
$yellow: #ffe066;
$red: #ffa69e;

$light-brown: #dda15e;
$dark-brown: #bc6c25;
$ivory: #fefae0;

$white: #FFFFFF;
$grey: #50514f;