@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;900&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.animate-left {
  -webkit-animation: 800ms ease-out 0s 1 slideFromLeft;
          animation: 800ms ease-out 0s 1 slideFromLeft;
}

.animate-bottom {
  -webkit-animation: 800ms ease-out 0s 1 slideFromBottom;
          animation: 800ms ease-out 0s 1 slideFromBottom;
}

.animate-right {
  -webkit-animation: 800ms ease-out 0s 1 slideFromRight;
          animation: 800ms ease-out 0s 1 slideFromRight;
}

.animate-top {
  -webkit-animation: 800ms ease-out 0s 1 slideFromTop;
          animation: 800ms ease-out 0s 1 slideFromTop;
}

@-webkit-keyframes slideFromLeft {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slideFromBottom {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideFromBottom {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slideFromRight {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slideFromTop {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideFromTop {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  margin: 0;
  height: 100vh;
  color: #50514f;
  background-color: #aed9e0;
  overflow: hidden;
}

h1, h2, h3, p, input, textarea, button {
  font-family: "Poppins", sans-serif;
  color: #50514f;
}

h1 {
  font-size: 6.25vw;
}

h2 {
  font-size: 3vw;
  letter-spacing: 1.5px;
}

h3 {
  font-size: 2vw;
  font-weight: 400;
}

h4 {
  font-size: 1.4rem;
  font-weight: 400;
}

p {
  font-size: 1.3vw;
  line-height: 3rem;
}

i {
  font-size: 2.2rem;
  cursor: pointer;
}

a {
  text-transform: uppercase;
  color: #50514f;
  text-decoration: none;
}

.underline {
  border-bottom: 1.2rem solid #ffe066;
  display: inline-block;
}

nav a:after,
.social-links a:after,
.project-container .text-container a:after {
  display: block;
  content: '';
  border-bottom: solid 3px #ffe066;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

nav a:hover:after,
.social-links a:hover:after,
.project-container .text-container a:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.skills h2, .projects h2 {
  text-align: center;
}

img {
  width: 100%;
}

.wrapper {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
}

section {
  width: 100vw;
  height: 80vh;
  top: 20vh;
  position: relative;
}

@media (max-width: 1024px) {
  section {
    top: 15vw;
  }
}

@media (max-width: 450px) {
  section {
    top: 15vh;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500vw;
  -webkit-transform: rotate(90deg) translateY(-100vh);
          transform: rotate(90deg) translateY(-100vh);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.horizontal-scroll {
  width: 100vh;
  height: 100vw;
  -webkit-transform: rotate(-90deg) translateX(-100vh);
          transform: rotate(-90deg) translateX(-100vh);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  overflow: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.about h2, .skills h2, .projects h2, .contact h2 {
  margin: 0;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button {
  background-color: #ffe066;
  width: 100%;
  padding: 1.2rem;
  border: 0;
  border-radius: 5px;
  color: #50514f;
}

.button:hover, .button:focus {
  background-color: #ffdb4d;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 20px 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 20vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

@media (max-width: 1024px) {
  header {
    height: auto;
  }
}

.logo {
  width: 100px;
  height: 100px;
}

nav, .social-links, .logo, .menu {
  padding: 20px;
}

nav {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px;
}

nav li {
  list-style: none;
}

nav li a {
  letter-spacing: 0.2rem;
}

@media (max-width: 1024px) {
  nav {
    width: 60%;
  }
}

.menu {
  display: none;
}

.menu i {
  font-size: 3rem;
}

@media (max-width: 750px) {
  .menu {
    display: block;
  }
}

.social-links {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 1024px) {
  .social-links {
    width: 20%;
  }
}

@media (max-width: 750px) {
  .social-links {
    width: 30%;
  }
}

@media (max-width: 450px) {
  .social-links {
    display: none;
  }
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.home .text-container {
  width: 40%;
}

.home h1 {
  margin: 0;
}

@media (max-width: 450px) {
  .home h1 {
    font-size: 7vw;
    line-height: 3rem;
  }
}

.home h2 {
  font-size: 5.7vw;
  font-weight: 200;
  margin-bottom: 0;
}

@media (max-width: 450px) {
  .home h2 {
    font-size: 7vw;
  }
}

.home h3 {
  text-align: right;
}

@media (max-width: 450px) {
  .home h3 {
    font-size: 4vw;
  }
}

.home .img-container {
  width: 28%;
}

@media (max-width: 1024px) {
  .home .img-container {
    width: 40%;
  }
}

@media (max-width: 450px) {
  .home .img-container {
    width: 60%;
  }
}

.home .img-container img {
  border: 8px solid #ffe066;
  padding: 10px;
}

.home .underline {
  border-bottom: 20px solid #ffe066;
}

.about h2 {
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: right;
}

@media (max-width: 1024px) {
  .about h2 {
    text-align: center;
  }
}

@media (max-width: 450px) {
  .about h2 {
    font-size: 6vw;
  }
}

.about p {
  text-align: justify;
  margin-bottom: 5%;
}

@media (max-width: 1024px) {
  .about p {
    font-size: 2vw;
  }
}

@media (max-width: 450px) {
  .about p {
    font-size: 4.5vw;
    line-height: 2.5rem;
    margin-bottom: 10%;
  }
}

@media (max-width: 400px) {
  .about p {
    font-size: 3.2vw;
  }
}

.about .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .about .flex-container {
    height: 60vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 450px) {
  .about .flex-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.about .img-container {
  width: 40%;
}

@media (max-width: 1024px) {
  .about .img-container {
    width: 50%;
  }
}

@media (max-width: 450px) {
  .about .img-container {
    width: 50%;
  }
}

.about .img-container img {
  -webkit-box-shadow: 15px 15px 0px 0px #ffe066;
          box-shadow: 15px 15px 0px 0px #ffe066;
}

@media (max-width: 450px) {
  .about .img-container {
    display: none;
  }
}

.about .text-container {
  width: 55%;
  position: relative;
}

@media (max-width: 1024px) {
  .about .text-container {
    width: 60%;
  }
}

@media (max-width: 450px) {
  .about .text-container {
    width: 80%;
  }
}

.about .text-container .button {
  width: 30%;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 1024px) {
  .about .text-container .button {
    position: relative;
  }
}

@media (max-width: 450px) {
  .about .text-container .button {
    width: 100%;
  }
}

.skills h2 {
  margin-bottom: 20px;
  font-size: 2.6vw;
}

@media (max-width: 450px) {
  .skills h2 {
    font-size: 6vw;
  }
}

.skills-container {
  width: 100%;
  margin-bottom: 10%;
}

.skill-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 45%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .skill-container {
    width: 50%;
  }
}

@media (max-width: 1024px) {
  .skill-container {
    width: 65%;
  }
}

@media (max-width: 450px) {
  .skill-container {
    width: 80%;
  }
}

.skill-container img {
  width: 8%;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  margin: 0 15px;
}

@media (max-width: 1024px) {
  .skill-container img {
    width: 12%;
  }
}

@media (max-width: 450px) {
  .skill-container img {
    margin: 5px;
    width: 15%;
  }
}

.skill-container img:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.education-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .education-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: around;
        -ms-flex-pack: around;
            justify-content: around;
  }
}

.education-container .education {
  margin-bottom: 5%;
  width: 40%;
}

.education-container .education .underline {
  border-bottom: 4px solid #ffe066;
}

@media (max-width: 1024px) {
  .education-container .education {
    width: 100%;
  }
}

.education-container h3, .education-container p {
  margin: 0;
  text-align: center;
}

.education-container h3 {
  font-size: 2vw;
}

@media (max-width: 1024px) {
  .education-container h3 {
    font-size: 3vw;
  }
}

@media (max-width: 450px) {
  .education-container h3 {
    font-size: 5vw;
  }
}

@media (max-width: 400px) {
  .education-container h3 {
    font-size: 4.5vw;
  }
}

@media (max-width: 1024px) {
  .education-container p {
    font-size: 2vw;
  }
}

@media (max-width: 450px) {
  .education-container p {
    font-size: 4.5vw;
  }
}

@media (max-width: 400px) {
  .education-container p {
    font-size: 3.5vw;
  }
}

@media (max-width: 450px) {
  .projects h2 {
    font-size: 6vw;
  }
}

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 20px;
}

@media (max-width: 1024px) {
  .projects-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 450px) {
  .projects-container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.project-container {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media (max-width: 1024px) {
  .project-container {
    width: 40%;
    margin-bottom: 5%;
    margin: 0 5% 5% 5%;
  }
}

@media (max-width: 450px) {
  .project-container {
    width: 80%;
  }
}

.project-container img {
  width: 80%;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

@media (max-width: 1024px) {
  .project-container img {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .project-container img {
    display: none;
  }
}

.project-container img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.project-container h3 {
  margin: 10px;
}

@media (max-width: 1024px) {
  .project-container h3 {
    font-size: 4vw;
  }
}

@media (max-width: 450px) {
  .project-container h3 {
    font-size: 5vw;
    margin: 5px;
  }
}

.project-container a {
  display: inline-block;
}

.project-container .underline {
  border-bottom: 4px solid #ffe066;
}

@media (max-width: 450px) {
  .project-container .underline {
    border-bottom: none;
  }
}

.project-container p {
  font-size: 1vw;
  margin: auto;
  line-height: 2rem;
}

@media (max-width: 1024px) {
  .project-container p {
    font-size: 2vw;
    line-height: 2.2rem;
  }
}

@media (max-width: 450px) {
  .project-container p {
    line-height: 1.7rem;
    font-size: 3vw;
  }
}

.project-container .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-container .icons img {
  width: 10%;
  height: 10%;
  padding: 5px;
}

@media (max-width: 1024px) {
  .project-container .icons img {
    font-size: 4vw;
  }
}

.project-container .links p {
  display: inline-block;
  padding: 5px 10px;
}

@media (max-width: 1024px) {
  .project-container .links p {
    font-size: 2vw;
  }
}

@media (max-width: 450px) {
  .project-container .links p {
    font-size: 3vw;
    background-color: #ffe066;
    border-radius: 5px;
    padding: 8px 10px 5px;
    margin: 10px;
  }
}

@media (max-width: 400px) {
  .project-container .links p {
    margin: 5px;
    padding: 5px 8px 3px;
  }
}

.contact h2 {
  margin-left: 5%;
}

@media (max-width: 1024px) {
  .contact h2 {
    margin-left: 0;
    text-align: center;
  }
}

@media (max-width: 450px) {
  .contact h2 {
    font-size: 6vw;
  }
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 1024px) {
  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.contact-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 1024px) {
  .contact-container {
    width: 80%;
  }
}

@media (max-width: 450px) {
  .contact-container {
    display: none;
  }
}

.contact-container .img-container {
  width: 40%;
}

.contact-container .img-container img {
  -webkit-box-shadow: 15px 15px 0px 0px #ffe066;
          box-shadow: 15px 15px 0px 0px #ffe066;
}

.contact-container .text-container {
  width: 50%;
}

.contact-container .text-container h3 {
  font-weight: 700;
}

.contact-container .text-container i, .contact-container .text-container p {
  display: inline-block;
}

.contact-container .text-container p {
  margin: 0;
  margin-bottom: 5px;
}

form {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1024px) {
  form {
    width: 80%;
    margin: 5%;
  }
}

@media (max-width: 450px) {
  form {
    width: 100%;
  }
}

form input[type=text], form textarea {
  border: 0;
  background-color: #aed9e0;
  padding: 15px;
  width: 100%;
  margin-bottom: 20px;
}

form input[type=text] {
  border-bottom: 3px solid #ffe066;
}

form textarea {
  border: 3px solid #ffe066;
}
